CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_TARGET_ROOTFS_PARTNAME="rootfs"
CONFIG_TARGET_ROOTFS_PARTSIZE=512
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_UEFI=y
CONFIG_TARGET_GRUB_TYPE="efi"
CONFIG_GRUB_EFI_IMAGES=y
CONFIG_TARGET_IMAGES_PAD=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_X86_UEFI_MEMTOP=1024
 
CONFIG_VERSION_NUMBER="25.12.0-rc5"
CONFIG_LUCI_LANG_zh_Hans=y
 
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-app-firewall=y
 
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-i18n-argon-zh-cn=y
 
CONFIG_PACKAGE_luci-app-ap=y
CONFIG_PACKAGE_luci-i18n-ap-zh-cn=y
 
CONFIG_PACKAGE_openssh-sftp-server=y
 
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-i18n-openclash-zh-cn=y
 
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-i18n-passwall-zh-cn=y
CONFIG_PACKAGE_luci-app-passwall2=y
CONFIG_PACKAGE_luci-i18n-passwall2-zh-cn=y
 
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_nftables-json=y
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_dns2socks=y
CONFIG_PACKAGE_tun2socks=y
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_jq=y
CONFIG_PACKAGE_resolvconf=y
CONFIG_PACKAGE_v2ray-core=y
CONFIG_PACKAGE_xray-core=y
CONFIG_PACKAGE_shadowsocks-rust-sslocal=y
CONFIG_PACKAGE_hysteria=y
 
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_usbutil=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_ipv6helper=y
